{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // 只把转换后用到的特性打包进去
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
